body{
     background: url('/home/ksb/AD/Web/photo-1575803285751-c9997e1df582.jpeg');
     background-repeat: no-repeat;
     background-size:100%;
     font-family: 'Courier New', monospace;}



.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #aab2bf;
   color: white;
   text-align: center;
